html {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	max-width: 60em;
	margin: 0 auto;
}

h1 {
	margin-top: 1em;
	margin-left: .5em;
}

table {
	padding: 1em;
	width: 100%;
	text-align: left;
}

th.header {
	background: #cee;
	padding: .6em;
	margin: 0;
	border: 0;
}

th:hover {
	background: #aee;
	cursor: pointer;
}

td {
	padding: .6em;
}

tr:nth-child(2n) {
	background: #eee;
}

@media screen and (max-width: 640px) {
	html {
		font-size: 11px;
	}

	h1 {
		text-align: center;
	}
}