html {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
}

body {
	max-width: 60em;
	margin: 0 auto;
  padding: 0 2em 2em 2em;
}

h1 {
	margin-top: 1em;
	margin-left: .5em;
}

h1 a {
  text-decoration: none;
  border-bottom: 1px solid #333;
}

h1 a:hover {
  border: none;
}

h1 span {
  padding-left: .5em;
  font-size: .5em;
  font-weight: 100;
  vertical-align: middle;
}

h3.inline {
	display: inline;
	font-size: 1rem;
	margin: .6rem;
}

ul {
  line-height: 1.6em;
  -webkit-padding-start: 20px;
}

section {
	margin-left: 1em;
}

table {
	margin-top: 0;
  padding: 0 1em;
	width: 100%;
	text-align: left;
}

th.header {
	background: #cee;
	padding: .6em;
	margin: 0;
	border: 0;
  transition: .3s all;
}

th:hover {
	background: #aee;
	cursor: pointer;
}

td {
	padding: .6em;
  line-height: 1.3em;
}

tr:nth-child(2n) {
	background: #eee;
}

iframe {
  margin: 1em;
}

a:link { color: #333; text-decoration: none; border-bottom: 1px solid #333; }
a:hover { color: #666; border: none; }
a:visited { color: #000; }

.summary {
	background: ghostwhite;
  border: 2px dotted #cee;
	padding: .6em;
}

.summary p {
  line-height: 1.3em;
}

.summary span {
  font-size: .8em;
  vertical-align: middle;
}

.back {
  font-size: .9em;
  float: right;
  background: #cee;
  padding: .6em;
  transition: .3s all;
  margin-bottom: 3rem;
}

.back:hover {
  background: #aee;
  cursor: pointer;
}

.emailus {
  z-index: 999;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center;
  background: #f5c272;
  border: 1px dotted #fff;
  padding: 1em;
  transition: .3s all;
}

.emailus:hover {
  background: orange;
  border: 1px dotted #f5c272;
  color: #111;
}

#map {
    width: 1044px;
    height: 500px;
    margin: 0 2em 0 1.5em;
  }
  @media screen and (max-width: 640px) {
    #map { height: 250px; margin: 0 0 2em 0; }
  }

.maplibregl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.maplibregl-popup-content {
  padding: 0 10px !important;
}

.maplibregl-popup-content p a strong {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px !important;
}

a[href^="https://chroniclingamerica"], a[href^="loc.gov"] {
  background: url('../images/loc.png') center left no-repeat;
  padding-left: 22px;
  margin-left: 10px;
}

a[href^="https://digitalnewspapers"] {
  background: url('../images/udn.png') center left no-repeat;
  padding-left: 22px;
  margin-left: 10px;
}

a[href^="https://en.wikipedia"],
a[href^="https://en.m.wikipedia"] {
  background: url('../images/wikipedia.png') center left no-repeat;
  padding-left: 22px;
  margin-left: 10px;
}

a[href^="https://chroniclingamerica"]:link,
a[href^="https://digitalnewspapers"]:link,
a[href^="https://en.wikipedia"]:link {
  border: none;
}

#tags {
  display: flex;
  flex-direction: row;
}

.tags {
	display: flex;
  flex-direction: row;
	list-style: none;
  padding: 0;
	margin: 0 0 0 1rem;
}

.tags li {
	display: inline;
	font-size: 1rem;
	line-height: 3rem;
	padding: 0 1rem;
	margin: .2rem;
}

.tags li:hover {
	cursor: pointer;
}

.orgs li 					{ background: #faa; }
.orgs li:hover 	 	{ background: #daa; }
.people li 				{ background: #cee; }
.people li:hover  { background: #aee; }
.places li 				{ background: #fec; }
.places li:hover  { background: #fdc; }


/* Media queries! */

@media screen and (max-width: 640px) {
	html {
		font-size: 13px;
	}

  body {
    padding: .6em;
  }

  table {
		width: 100%;
    padding: 0;
  }

	td {
    line-height: 17px;
		font-size: 11px;
  }

	h1 {
		text-align: center;
    margin-left: 0;
		margin-bottom: 2rem;
	}

	h1 span {
		display: block;
		margin-top: .6em;
	}

  section {
    margin-left: 0;
  }

  ul {
    -webkit-padding-start: 15px;
  }

  .summary {
    padding: .6em;
  }