html {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	max-width: 60em;
	margin: 0 auto;
  padding: 2em;
}

h1 {
	margin-top: 1em;
	margin-left: .5em;
}

h1 a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

h1 a:hover {
  border: none;
}

h1 span {
  padding-left: .5em;
  font-size: .5em;
  font-weight: 100;
  vertical-align: middle;
}

ul {
  line-height: 1.6em;
  -webkit-padding-start: 20px;
}

section {
	margin-left: 1em;
}

table {
	margin-top: 0;
  padding: 0 1em;
	width: 100%;
	text-align: left;
}

th.header {
	background: #cee;
	padding: .6em;
	margin: 0;
	border: 0;
  transition: .3s all;
}

th:hover {
	background: #aee;
	cursor: pointer;
}

td {
	padding: .6em;
  line-height: 1.3em;
}

tr:nth-child(2n) {
	background: #eee;
}

iframe {
  margin: 1em;
}

a:link { color: #000; text-decoration: none; border-bottom: 1px solid #000; }
a:hover { color: #333; border: none; }
a:visited { color: #000; }

.summary {
	background: ghostwhite;
  border: 2px dotted #cee;
	padding: .6em;
}

.summary p {
  line-height: 1.3em;
}

.summary span {
  font-size: .8em;
  vertical-align: middle;
}

.back {
  font-size: .9em;
  float: right;
  background: #cee;
  padding: .6em;
  transition: .3s all;
}

.back:hover {
  background: #aee;
  cursor: pointer;
}

.emailus {
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center;
  background: #f5c272;
  border: 1px dotted #fff;
  padding: 1em;
  transition: .3s all;
}

.emailus:hover {
  background: orange;
  border: 1px dotted #f5c272;
}

.leaflet-popup-content {
  overflow: scroll;
  max-height: 280px;
}

#map { height: 380px; margin-left: 1.5em; }

a[href^="http://chroniclingamerica"], a[href^="loc.gov"] {
  background: url('../images/loc.png') center left no-repeat;
  padding-left: 22px;
  margin-left: 10px;
}

a[href^="http://digitalnewspapers"] {
  background: url('../images/udn.png') center left no-repeat;
  padding-left: 22px;
  margin-left: 10px;
}

a[href^="https://en.wikipedia"] {
  background: url('../images/wikipedia.png') center left no-repeat;
  padding-left: 22px;
  margin-left: 10px;
}

a[href^="http://chroniclingamerica"]:link,
a[href^="http://digitalnewspapers"]:link,
a[href^="https://en.wikipedia"]:link {
  border: none;
}

/* Media queries! */

@media screen and (max-width: 640px) {
	html {
		font-size: 13px;
	}

  body {
    padding: 1em;
  }

  table {
    padding: 0;
  }

	h1 {
		text-align: center;
    margin-left: 0;
	}

  section {
    margin-left: 0;
  }

  ul {
    -webkit-padding-start: 15px;
  }

  .summary {
    padding: .6em;
  }

  #map {
    margin: 0;
  }

  td {
    line-height: 17px;
  }
}